# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.map

# Debug files
*.dSYM/

src/system_stm32f4xx\.c

src/syscalls\.c

src/stm32f4xx_it\.c

startup/startup_stm32f401xe\.s

startup/STM32F401CE_FLASH\.ld

startup/STM32F401CE_RAM\.ld

src/set_clk\.c

inc/stm32f4xx_it\.h
